---
import { ViewTransitions } from 'astro:transitions';
import { pwaInfo } from 'virtual:pwa-info';
// import ReloadPrompt from '../components/ReloadPrompt.astro';
import BaseHead, { type Props as HeadProps } from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';

export type Props = HeadProps & { showHeader?: boolean };

const { showHeader = true, ...head } = Astro.props;
const { title } = Astro.props as Props;
---

<!doctype html>
<html lang="en" class="antialiased break-words">
    <head>
        <BaseHead {...head} />
        <script>
            if (localStorage.theme === 'dark') {
                document.documentElement.classList.add('dark');
            }
        </script>
        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" />
        <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>

        <!-- algolia -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />

        <!-- Google tag (gtag.js) -->
        <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-3N0FHZ4Z9V"></script>
        <script type="text/partytown">
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-3N0FHZ4Z9V');
        </script>
        <!-- Google Tag Manager -->
        <script type="text/partytown">
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-5NSP26K6');
        </script>
        <!-- End Google Tag Manager -->
        <ViewTransitions />
        {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    </head>
    <body class="bg-main text-main">
        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5NSP26K6" height="0" width="0" style="display:none;visibility:hidden"
            ></iframe></noscript
        >
        <!-- End Google Tag Manager (noscript) -->
        <div class="flex flex-col min-h-screen px-4 md:px-8">
            <Nav />
            {showHeader && <Header />}
            <main class="grow w-full max-w-3xl mx-auto">
                <slot />
            </main>
            <Footer />
        </div>
        <!-- <ReloadPrompt /> -->
        <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
        <script type="text/javascript">
            window.addEventListener('load', function () {
                window.docsearch({
                    appId: 'HU1BYWH219',
                    apiKey: '4d8578d0e3dcdd12774274e8a373c7a3',
                    indexName: 'subhojit',
                    insights: true,
                    container: '#search',
                    debug: false
                });
            });
        </script>
    </body>
</html>
